body{
    background-color:background: #FFFFFF;
 ;
    font-size: large ;
}
.profile{
    text-align: center;
}



.flexcontainer{
    display: flex;
    justify-content: center;
    align-items: center; 

}
.index{
    padding-left: 40px;
    margin-left: 2px;

    
}

 
    
